<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodLife"
        tools:targetApi="31">
        <activity
            android:name=".plasmastore.PlasmaBank"
            android:exported="false" />
        <activity
            android:name=".ContactUs"
            android:exported="false" />
        <activity
            android:name=".volunteer.AddVolunteer"
            android:exported="false" />
        <activity
            android:name=".volunteer.VolunteerList"
            android:exported="false" />
        <activity
            android:name=".NationalHelpLine"
            android:exported="false" />
        <activity
            android:name=".bloodbank.BloodStorage"
            android:exported="false" />
        <activity
            android:name=".doctor.DoctorList2"
            android:exported="false" />
        <activity
            android:name=".doctor.Doctorlist2"
            android:exported="false" />
        <activity
            android:name=".doctor.AddDoctor"
            android:exported="false" />
        <activity
            android:name=".doctor.DoctorList"
            android:exported="false" />
        <activity
            android:name=".ambulance.AmbulanceList3"
            android:exported="false" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".ambulance.AmbulanceList"
            android:exported="false" />
        <activity
            android:name=".ambulance.AddAmbulance"
            android:exported="false" />
        <activity
            android:name=".donor.DonorActivity"
            android:exported="false" />
        <activity
            android:name=".patient.PatientList"
            android:exported="false" />
        <activity
            android:name=".patient.AddPatient"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".splashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>